<post title="OCaml-RDF 0.12.0"
date="2021/06/02"
keywords="release"
published="true"
topics="ocaml-rdf"
>
<p>
Release 0.12.0 of OCaml-RDF is available from
the <doc href="download">download page</doc>.
Changes:
</p>
<sep_/>
<late-inc href="download#changes0.12.0"/>
</post>