<post title="OCaml-RDF 0.14.0"
date="2023/03/23"
keywords="release"
published="true"
topics="ocaml-rdf"
>
<p>
Release 0.14.0 of OCaml-RDF is available from
the <doc href="download">download page</doc>.
Changes:
</p>
<sep_/>
<late-inc href="download#changes0.14.0"/>
</post>