<post title="OCaml-RDF 0.11.0"
date="2016/11/30"
keywords="release"
published="true"
topics="ocaml-rdf"
>
<p>
Release 0.11.0 of OCaml-RDF is available from
the <doc href="download">download page</doc>.
Changes:
</p>
<sep_/>
<late-inc href="download#changes0.11.0"/>
</post>