<post title="OCaml-RDF 0.10.0"
date="2016/03/22"
keywords="release"
published="true"
topics="ocaml-rdf"
>
<p>
Release 0.10.0 of OCaml-RDF is available from
the <doc href="download">download page</doc>.
Changes:
</p>
<sep_/>
<late-inc href="download#changes0.10.0"/>
</post>