<post title="OCaml-RDF 0.7.1"
date="2013/09/27"
keywords="release"
published="true"
topics="ocaml-rdf"
>
<p>
Release 0.7.1 of OCaml-RDF is available from
the <doc href="download">download page</doc>.
This is a small bugfix release:
</p>
<sep_/>
<late-inc href="download#changes0.7.1"/>
</post>