<post title="OCaml-RDF 0.15.0"
date="2023/07/13"
keywords="release"
published="true"
topics="ocaml-rdf"
>
<p>
Release 0.15.0 of OCaml-RDF is available from
the <doc href="download">download page</doc>.
</p>
<sep_/>
<p>
Changes:
</p>
<late-inc href="download#changes0.15.0"/>
</post>