<post title="OCaml-RDF 1.0.0"
date="2024/03/13"
keywords="release"
published="true"
topics="ocaml-rdf"
>
<p>
Release 1.0.0 of OCaml-RDF is available from
the <doc href="download">download page</doc>.
</p>
<sep_/>
<p>
Changes:
</p>
<late-inc href="download#changes1.0.0"/>
</post>