<post title="OCaml-RDF 0.7.0"
date="2013/09/24"
keywords="release"
published="true"
topics="ocaml-rdf"
>
<p>
Release 0.7.0 of OCaml-RDF is available from
the <doc href="download">download page</doc>.
It contains a lot of changes:
</p>
<sep_/>
<late-inc href="download#changes0.7.0"/>
</post>