<post title="OCaml-RDF 0.8.0"
date="2014/01/21"
keywords="release"
published="true"
topics="ocaml-rdf"
>
<p>
Release 0.8.0 of OCaml-RDF is available from
the <doc href="download">download page</doc>.
Changes:
</p>
<sep_/>
<late-inc href="download#changes0.8.0"/>
</post>