.chamo*
src/META
config.log
configure.lineno
config.status
config_check.log
autom4te.cache
ocaml_config.sh
master.Makefile
src/rdf_config.ml
*.cm*
*.a
*.o
*.annot
src/ocamldoc
src/dump.odoc
src/test_mysql


