.chamo*
src/META
config.log
config.status
config_check.log
autom4te.cache
ocaml_config.sh
master.Makefile
src/rdf_config.ml
src/*.cm*
src/*.a
src/*.o
src/*.annot
src/ocamldoc
src/dump.odoc
src/test_mysql

