a:visited {color : #217B66; text-decoration : none; }
a:link {color : #217B66; text-decoration : none;}
a:hover {color : Red; text-decoration : none; background-color: #217B66; color: white;}
a:active {color : Red; text-decoration : underline; }
.keyword { font-weight : bold ; color : Red }
.keywordsign { color : /*#C04600*/#444444 }
.superscript { font-size : 4 }
.subscript { font-size : 4 }
.comment { color : Green }
.constructor { color : Blue }
.type { color : #884488 /*#5C6585*/; }
.string { color : Maroon }
.warning { color : Red ; font-weight : bold }
.info {
  margin-left : 3em;
  margin-right : 3em ;
  padding-bottom: 0.3em;
}
.param_info {
  margin-top: 4px;
  margin-left : 3em;
  margin-right : 3em ;
  }
.code { color : #465F91 ; font-size: 80%; font-family: sans-serif; }

h1 { font-size : 20pt ; text-align: center; }
h2 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90BDFF ;padding: 2px; }
h3 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90DDFF ;padding: 2px; }
h4 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90EDFF ;padding: 2px; }
h5 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90FDFF ;padding: 2px; }
h6 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #C0FFFF ; padding: 2px; }
div.h7 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #E0FFFF ; padding: 2px; }
div.h8 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #F0FFFF ; padding: 2px; }
div.h9 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #FFFFFF ; padding: 2px; }
.typetable { border-style : hidden }
.indextable { border-style : hidden }
.paramstable { border-style : hidden ; padding: 5pt 5pt}
body {
  background-color : white ;
  margin-left: auto ;
  margin-right: auto;
  width: 750px;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0;
  border-style: solid ;
  border-color: #444444;
  border-width: 0.1px 2px 2px 2px;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  color: #444444 ;
  font: normal normal 10pt serif /*Arial, Tahoma, Helvetica, FreeSans, sans-serif;*/;

  }
html { background-color: #EFEFEF ; }

tr { background-color : White }
td.typefieldcomment { background-color : #FFFFFF ; font-size: smaller ;}
pre {
   margin-bottom: 4px ;
   background-color: #F2F2F2;
   padding: 0.5em;
   padding-top: 0.1em;
   border-style: solid ;
   border-width: 0 0 0 1px;
   border-color: #444444;
   }
div.sig_block {margin-left: 2em}
*:target { background: yellow; }

div.navbar {
  background-color: #444444 ; color: white ;
  margin-left: -2em;
  margin-right: -2em;
  margin-top: -0.5em;
  }
div.navbar a { color: white; }

