test_xml
test_ttl
test_sparql
test_mysql
test_iri
test_sparql_protocol
test_uncodepoint
rdf_sparql_test
rdf_sparql_bench
rdf_turtle_test
tools/*.cm*
tools/*.o
tools/*.annot
*.dot
rdf_*parser.ml
rdf_*parser.mli
rdf_ttl_lex.ml
rdf_sparql_lex.ml
*.conflicts
