<page title="Installation"
navbar-doc="active"
>
<section title="With opam">
<p>
OCaml-RDF is available in <ext-a href="http://opam.ocamlpro.com">OPAM</ext-a>:
</p>
<sh>$ opam install rdf rdf_json_ld rdf_lwt rdf_mysql rdf_postgresql rdf_ppx</sh>
</section>

<section title="Manual installation">
<p>
After extracting the source tree, go to the extracted directory and type:
</p>
<sh>$ make install
</sh>
<p>
This will install the packages <code>rdf</code>,
<code>rdf_json_ld</code>,
<code>rdf_lwt</code>,
<code>rdf_mysql</code>,
<code>rdf_postgresql</code>
and <code>rdf_ppx</code>.
</p>
</section>
</page>