<page title="Using database backends for graphs"
navbar-doc="active"
with-contents="true"
>
<contents>
<prepare-toc>
<toc/>
<p>
Two backends are available to store graphs in databases rather than
in memory: MySQL and Postgresql. This allows to create persistent
graphs.
The choice of the backend is made with the <code>options</code>
optional parameter of <refval mod="Graph" name="open_graph"/>.
</p>
<section id="mysql" title="MySQL backend">
<p>
The MySQL backend comes in two flavours, corresponding to two
representations in the database, <code>mysql</code> and
<code>mysql2</code> (see below).
</p>
<p>
Using the MySQL backend requires to link with the <code>rdf_mysql</code>
ocamlfind package. Then, after creating a database with proper rights
on the server, the following code creates a graph in the database:
</p>
<ocaml-eval error-exc="false">
let options =
  [
    "storage", "mysql" ; (* the type of storage, here mysql backend *)
    "database", "mydb"; (* database name *)
    "user", "john" ; (* user used to connect the database *)
    "password", "foobar" ; (* password *)
    "host", "myhost.foo.net" ; (* hostname *)
    "port", "3306" ; (* port *)
  ]
;;
let graph = Rdf_graph.open_graph ~options (Iri.of_string "http://hello.fr") ;;
</ocaml-eval>
<p>
Both backends create a table "graphs" to associate IRIs to stored graphs.
</p>
<subsection id="mysql1" title="&quot;mysql&quot; backend">
<p>
This backend creates various tables:
</p>
<ul>
<li>one table per graph ("graph1", "graph2", ...),</li>
<li>a table "literals", to store hashes of literals,</li>
<li>a table "bnodes", to store hashes of blank nodes,</li>
<li>a table "resources", to store hashes of IRIs.</li>
</ul>
<p>
The "graphN" tables contain triples, composed of references to
hashes. This model is copied from the Redland's Librdf library.
</p>
<p>
All the common tables are created at connection time, and the
table of each graph in created when the graph is created.
When <refval mod="Graph" name="open_graph"/> is called with
an IRI corresponding to an existing graph in the database, then
this graph is used, with all existing triples.
</p>
</subsection>
<subsection id="mysql2" title="&quot;mysql2&quot; backend">
<p>
This backend is about 12 times faster for querying, but about
5 times slower for inserting. In this backend, only one table per
graph is created, storing complete information about triples.
This takes more place but requires less queries to retrieve
complete parts of the triples.
</p>
<p>
To use this backend, just specify <code>"mysql2"</code> as
for the <code>"storage"</code> option.
</p>
</subsection>
<subsection id="mysqlengine" title="Engine">
<p>
The default engine used to store MySQL tables is InnoDB, which allows
transactions, but is quite slow.
</p>
<p>
The <code>"engine"</code> option can be used to specify another engine,
usually "MyISAM". With this engine, transactions are not allowed, though.
Here is an example to use the <code>mysql2</code> backend with MyISAM tables:
</p>
<ocaml-eval error-exc="false">
let options =
  [
    "storage", "mysql2" ; (* the type of storage, here mysql backend *)
    "database", "mydb"; (* database name *)
    "user", "john" ; (* user used to connect the database *)
    "password", "foobar" ; (* password *)
    "host", "myhost.foo.net" ; (* hostname *)
    "port", "3306" ; (* port *)
    "engine", "MyISAM" ;
  ]
;;
let graph = Rdf_graph.open_graph ~options (Iri.of_string "http://hello.fr") ;;
</ocaml-eval>
</subsection>
</section>

<section id="postgresql" title="Postgresql backend">
<p>
The Postgresql backend works the same way as the MySQL backend.
Using the MySQL backend requires to link with the <code>rdf_postgresql</code>
ocamlfind package.
To create or open a graph stored in a Postgresql database, use
the <code>options</code> parameter of <refval mod="Graph" name="open_graph"/>:
</p>
<ocaml-eval error-exc="false">
let options =
  [
    "storage", "postgresql" ; (* the type of storage, here postresql backend *)
    "database", "mydb"; (* database name *)
    "user", "john" ; (* user used to connect the database *)
    "password", "foobar" ; (* password *)
    "host", "myhost.foo.net" ; (* hostname *)
    "port", "3306" ; (* port *)
  ]
;;
let graph = Rdf_graph.open_graph ~options (Iri.of_string "http://hello.fr") ;;
</ocaml-eval>
</section>
</prepare-toc>
</contents>
</page>