<page title="RDF terms and IRIs"
navbar-doc="active"
with-contents="true"
>
<contents>
<p>
RDF graph terms are represented by the <reftyp mod="Term" name="term"/> type.
These are RDF terms: IRI, literal or blank node. In the graph, the predicate
of a triple can only be a IRI.
</p>
<p class="alert alert-warning">
All strings are considered to be UTF8-encoded. The <refmod mod="Utf8"/> module
provides some functions to manipulate UTF8 strings.
</p>
<p>
The <refmod mod="Term"/> module defines functions to create and print RDF terms.
For example, <refval mod="Term" name="mk_literal_int"/> creates a literal
RDF term from an integer, setting the IRI of the datatype to <code>&lt;xsd:integer&gt;</code>:
</p>
<ocaml-eval show-code="false">#print_length 80;;</ocaml-eval>
<ocaml-eval toplevel="true">
open Rdf;;
let int_lit = Term.mk_literal_int 42;;
let term42 = Term.Literal int_lit;;
</ocaml-eval>
<p>
Let's get a string representation of the term:
</p>
<ocaml-eval toplevel="true">
print_endline (Term.string_of_term term42) ;;
</ocaml-eval>
<p>
The <ext-a href="https://github.com/zoggy/ocaml-iri/">OCaml-iri library</ext-a> is used
to handle IRIs:
</p>
<ocaml-eval toplevel="true">
let iri_s = "http://foo.bar.net/";;
let iri = Iri.of_string iri_s;;
let iri2 = Iri.with_fragment iri (Some "id42");;
Iri.compare iri iri2;;
Iri.to_string iri2;;
</ocaml-eval>
<p>
The <refmod mod="Rdf_"/> module defines some commonly used IRIs:
datatypes, classes, property names, ...:
</p>
<ocaml-eval toplevel="true">
Iri.to_string (Rdf_.xsd_integer);;
Iri.to_string (Rdf_.xsd_double);;
Iri.to_string (Rdf_.about);;
</ocaml-eval>
</contents>
</page>