<page title="Download"
navbar-download="active"
>
<section>
<p>
The code is available on
<ext-a href="https://framagit.org/zoggy/ocaml-rdf">Framagit</ext-a>.
</p>
<p>Use git to get the current version:</p>
<command-line>$ git clone https://framagit.org/zoggy/ocaml-rdf.git
</command-line>
<p>
Then read the <page href="doc-install"/> section.
</p>
</section>

<section id="releases" title="Releases">
<ul>
<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/1.0.0/ocaml-rdf-1.0.0.tar.gz">1.0.0</a></strong>
[2024-03-13]:
<ul id="changes1.0.0">
<li>Turtle parser: fix parsing of literals having both langtag + datatype,</li>
<li>Json_ld:<ul>
<li>add <ml>Json_ld.from_rdf_root</ml>,</li>
<li>now has its own log module <ml>Json_ld.Log</ml>,</li>
<li><ml>to_rdf</ml> now returns the IRI of the root object, if any,</li>
<li>serialization to json-ld now groups triples by subject,</li>
</ul></li>
<li>Add <ml>Rdf.Graph.graph.copy</ml> (for storages which support it, i.e. only "mem"),</li>
<li>Add <ml>Rdf.Graph.add_list</ml>,</li>
<li>Add <ml>Rdf.Activitypub</ml> module (extending <ml>Activitystreams</ml>),</li>
<li>Add <ml>Rdf.Activitystreams.c_Public</ml>,</li>
<li>Add <ml>Rdf.Security module</ml>,</li>
<li>Rdf does not depend on Cryptokit and Pcre,</li>
<li>New package <icode>rdf_impls</icode> provides implementations of sha1, sha256,
  pcre_match and pcre_replace using Cryptokit and Pcre.</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/0.15.0/ocaml-rdf-0.15.0.tar.gz">0.15.0</a></strong>
[2023-07-13]:
  <ul id="changes0.15.0">
<li>add <ml>Rdf.Activitystreams</ml> module,</li>
<li>add <ml>Rdf.Nq</ml> module to read and write <ext-a href="https://www.w3.org/TR/n-quads/">N-quads</ext-a>,</li>
<li>add (part of)  <ext-a href="https://www.w3.org/TR/json-ld11-api/">JSON-LD 1.1 API</ext-a> (in rdf_json_ld package),</li>
<li>Breaking change: dataset interface in <ml>Rdf.Ds</ml> module.</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/0.14.0/ocaml-rdf-0.14.0.tar.gz">0.14.0</a></strong>
[2023-03-23]:
  <ul id="changes0.14.0">
<li>add <ml>Rdf.Loc.pp</ml>.</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/0.13.0/ocaml-rdf-0.13.0.tar.gz">0.13.0</a></strong>
[2021-12-13]:
  <ul id="changes0.13.0">
<li>use dune to build and install,</li>
<li>use Logs library,</li>
<li>rename modules, using <ml>Rdf</ml> namespace,</li>
<li>Fix: print missing spaces in <ml>Rdf.Sparql.string_of_query</ml>,</li>
<li><ml>Rdf.Xml</ml>: new parameter <ml>?(compact=true)</ml> for
  <ml>to_string</ml> and <ml>to_file</ml> functions,</li>
<li>Fix: register a printer for each defined exception,</li>
<li><ml>Rdf.Ttl</ml>: fix escaping of iriref and local names,</li>
<li>ppx rewriter: use ppxlib,</li>
<li>ppx rewriter: drop support for <ml>{sparql| ... |}</ml> syntax,
  support only [%sparql {|...|}] instead.</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/0.12.0/ocaml-rdf-0.12.0.tar.gz">0.12.0</a></strong>
[2021-06-02]:
  <ul id="changes0.12.0">
<li>upgrade to ocaml 4.12.0, etc.,</li>
<li>sparql parsing: test uniqueness of projection variables,</li>
<li>replace <ml>Str</ml> with <ml>Re</ml> in <ml>Rdf_sparql_http</ml>,</li>
<li>replace <ml>Calendar</ml> with <ml>Ptime</ml>,</li>
<li>add <ml>Rdf_webacl</ml> module,</li>
<li>add <ml>Rdf_graph.subgraph</ml>,</li>
<li>add <ml>_opt</ml> methods to <ml>from</ml> class in <ml>Rdf_*</ml> vocab modules,</li>
<li>begin support for Sparql-update (DELETE DATA, INSERT DATA,
  DELETE WHERE, DELETE/INSERT but without USING and GRAPH support
  by now),</li>
<li>handle various integer datatypes in sparql,</li>
<li>add <ml>Rdf_rdf.integer_types</ml>
  (set of integer datatype IRIs),</li>
<li>add <ml>Rdf_rdf.xsd_[..]</ml> for additional integer datatypes,</li>
<li>add <ml>g.Rdf_graph.folder</ml>,</li>
<li>add <ml>?compact</ml> parameter to <ml>Rdf_ttl.to_*</ml>,</li>
<li>sparql_http: modify <icode>accept:</icode> header so that dbpedia does not always replies
  <icode>text/plain</icode>,</li>
<li>handle <icode>xsd:hexBinary</icode> format.</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/0.11.0/ocaml-rdf-0.11.0.tar.gz">0.11.0</a></strong>
[2016-11-30]:
  <ul id="changes0.11.0">
<li>use uutf 1.0.0,</li>
<li>new <ml>Rdf_utils</ml> module,</li>
<li>add <ml>Rdf_vcard</ml> module with Vcard ontology,</li>
<li>add <ml>Rdf_acl</ml> module with Web Access Control ontology,</li>
<li>add <ml>Rdf_sioc</ml> module with SIOC ontology,</li>
<li>add <ml>Rdf_solid</ml> module with SOLID terms ontology,</li>
<li>upgrade to ocaml 4.03.0,</li>
<li>handle OWL in schema when generating modules from ontology
  (in tool <icode>src/tool/gen_ns_mod</icode>),</li>
<li>add time ontology (<ml>Rdf_time</ml>),</li>
<li>add missing properties and classes in <ml>Rdf_{dc,doap,foaf,earl,owl}</ml>,</li>
<li>add <ml>from</ml> class in <ml>Rdf_{...}</ml> ontology modules,</li>
<li>various fixes.</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/0.10.0/ocaml-rdf-0.10.0.tar.gz">0.10.0</a></strong>
[2016-03-22]:
  <ul id="changes0.10.0">
<li>change of interface in namespace modules
  <ml>Rdf_{dc,doap,foaf,earl,ldp,owl,rdf,rdfs}</ml> so that one can
  use for example
     <ml>Rdf_dc.title</ml> or  <ml>open Rdf_dc.Open;; dc_title</ml>,</li>
<li>various fixes in Turtle and Xml parsers,</li>
<li>drop <ml>Rdf_uri</ml>, <ml>Rdf_iri</ml>,</li>
<li>use <ext-a href="https://github.com/zoggy/ocaml-iri/">OCaml-iri</ext-a>,</li>
<li>use <ext-a href="http://calendar.forge.ocamlcore.org/">Calendar</ext-a> and
  <ext-a href="https://github.com/mirage/ocaml-uri">Ocaml-uri</ext-a> instead
  of OCamlnet,</li>
<li>new package <code>rdf.js</code> containing only parts usable in
  code compiled with js_of_ocaml.</li>
</ul>
</li>

<li><strong>0.9.0</strong>
[2014-09-29]:
  <ul id="changes0.9.0">
<li>use <icode>-safe-string</icode> compilation option (and require OCaml &gt;= 4.02),</li>
<li>provide <icode>rdf.ppx</icode> package for <ml>[%sparql ]</ml> and
  <ml>{sparql|...|sparql}</ml> syntax,</li>
<li>new <ml>Rdf_lwt</ml> library implementing Sparql protocol if
  Cohttp with lwt is installed,</li>
<li>Support for <ext-a href="http://www.w3.org/TR/rdf-sparql-protocol/#query-bindings-http">Sparql protocol</ext-a>
  initiated by Aranud Parant then made more generic to support
  various HTTP implementations and the whole protocol,</li>
<li>Support for 4store access through Sparql protocol (by Arnaud Parant),</li>
<li>Fix parsing of IRIs.</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/release-0.8.0/ocaml-rdf-release-0.8.0.tar.gz">0.8.0</a></strong>
[2014-01-21]:
  <ul id="changes0.8.0">
<li>Change <code>Rdf_rdf.dc</code> to <code>http://purl.org/dc/elements/1.1/</code>,</li>
<li>Add convenient functions to create RDF vocabularies in <ml>Rdf_rdfs</ml>,</li>
<li>Fix: handle more than one <code>FROM &lt;iri&gt;</code> directives in sparql query
  according to <ext-a href="http://www.w3.org/TR/sparql11-query/#specifyingDataset">specification</ext-a>
  (merge referenced graphs in a new graph in memory).</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/release-0.7.1/ocaml-rdf-release-0.7.1.tar.gz">0.7.1</a></strong>
[2013-09-27]:
  <ul id="changes0.7.1">
<li>fix MySQL backend: handle empty engine option
  and set DELAY_KEY_WRITE=1 only for MyISAM engine.
</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/release-0.7.0bis/ocaml-rdf-release-0.7.0bis.tar.gz">0.7.0</a></strong>
[2013-09-24]:
  <ul id="changes0.7.0">
<li><ml>Rdf_iri</ml> now replaces Rdf_uri,</li>
<li><code>Rdf_sparql.parse_from_*</code>  renamed to <code>query_from_*</code>,</li>
<li><code>Rdf_uri.Invalid_url</code> renamed to <code>Invalid_uri</code>,</li>
<li><code>Rdf_ttl.from_*</code> do not return a graph, as the given one
  is modified in place,</li>
<li>The <code>base</code> argument of <code>Rdf_ttl.from_*</code> and
  <code>Rdf_xml.from_*</code> is now optional; if not given, the graph name
  is used as base,</li>
<li>Add namespace modules: <ml>Rdf_foaf</ml>, <ml>Rdf_earl</ml>,
  <ml>Rdf_foaf</ml>, <ml>Rdf_foaf</ml>, <ml>Rdf_rdfs</ml>,</li>
<li>Partial fix: implement simple version of Sparql's builtin funs LCASE and UCASE,</li>
<li>Upgrade turtle parser/printer to W3C RC of 2013/02/19, passes all tests
  of <ext-a href="http://www.w3.org/2011/rdf-wg/wiki/Turtle_Test_Suite">the Turtle Test Suite</ext-a>
  except the test containing an invalid UTF-8 character,</li>
<li>Do not store namespaces in the graph itself (that was a very bad idea); add functions
  to add and remove <doc href="doc-graphs#namespaces">namespaces</doc> for a graph,</li>
<li>Functor to create new backends now allows to keep a backend-specific representation
  of terms during Basic Graph Pattern evaluation; this is used to optimize database
  backends,</li>
<li>New "mysql2" backend, faster for queries but slower for insertions,</li>
<li>MySQL backend now supports the "engine" option, default is INNODB,
  but it can be "MyISAM" (faster, but does not support transactions),</li>
<li>Remove graph debug dump which was performed at each sparql query evaluation,</li>
<li><code>Rdf_node</code> renamed to <ml>Rdf_term</ml>,</li>
<li><code>Rdf_node.node</code> renamed to <ml>Rdf_term.term</ml>,</li>
<li><code>Rdf_node.NSet</code> renamed to <ml>Rdf_term.TSet</ml>,</li>
<li>In triples, predicates are now IRIs and not any term.</li>
<li>+ lots of bug fixes.</li>
</ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/release-0.6.0/ocaml-rdf-release-0.6.0.tar.gz">0.6.0</a></strong>
[2013-08-13]:
  <ul>
    <li>Add support of <ext-a href="http://www.w3.org/TR/sparql11-query">Sparql 1.1 queries</ext-a>,</li>
    <li>Add missing dependencies in META file,</li>
    <li>Various fixes.</li>
    <li>See <a href="https://framagit.org/zoggy/ocaml-rdf/blob/master/Changes">the complete list</a>.</li>
  </ul>
</li>


<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/release-0.5/ocaml-rdf-release-0.5.tar.gz">0.5</a></strong>
[2013-05-22]:
  <ul>
    <li>Add Turtle parser,</li>
    <li><code>Rdf_iri.iri</code> now raises <code>Rdf_uri.Invalid_url</code> instead of <code>Neturl.Malformed_URL</code>,</li>
    <li>See <a href="https://framagit.org/zoggy/ocaml-rdf/blob/master/Changes">the complete list</a>.</li>
  </ul>
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/release-0.4/ocaml-rdf-release-0.4.tar.gz">0.4</a></strong>
[2013-03-19]: Use string concatenation instead of sprintf; change default graph kind: memory -> mem; linkall option.
</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/release-0.3/ocaml-rdf-release-0.3.tar.gz">0.3</a></strong>
[2013-01-21]: Some fixes. Add graph merging.</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/release-0.2/ocaml-rdf-release-0.2.tar.gz">0.2</a></strong>
[2012-10-09]: Improve performance by using prepared queries. New backend: Postgresql.</li>

<li><strong><a href="https://framagit.org/zoggy/ocaml-rdf/-/archive/release-0.1/ocaml-rdf-release-0.1.tar.gz">0.1</a></strong>
[2012-09-26]: Initial release.</li>
</ul>
</section>

</page>
