<page
main_="true"
title="OCaml-RDF"
stog:site-description=""
stog:site-email="maxence 'DOT' guesdon 'AT' inria 'DOT' fr"
stog:site-url="https://www.good-eris.net/ocaml-rdf"
stog:rss-length="10"
stog:section-counter="false"
stog:subsection-counter="false"
navbar-home="active"
with-contents="true"
empty_=""
>
<stog:sh foo=""><command-line defer_="1"><contents/></command-line></stog:sh>
<stog:ixml foo=""><icode lang="xml" defer_="1"><contents/></icode></stog:ixml>
<stog:hxml foo=""><hcode lang="xml" defer_="1"><contents/></hcode></stog:hxml>
<stog:refdoc mod="" id="" name="">
<a href="&lt;site-url/&gt;/refdoc/rdf/Rdf/&lt;mod/&gt;/index.html&lt;if id=&quot;&quot;&gt;&lt;dummy_/&gt;&lt;dummy_&gt;#&lt;id/&gt;&lt;/dummy_&gt;&lt;/if&gt;"><if name=""><mod/><name/></if></a></stog:refdoc>
<stog:refmod mod=""><refdoc mod="&lt;mod/&gt;"/></stog:refmod>
<stog:refval mod="" name=""><refdoc mod="&lt;mod/&gt;" id="val-&lt;name/&gt;" name="&lt;mod/&gt;.&lt;name/&gt;"/></stog:refval>
<stog:reftyp mod="" name=""><refdoc mod="&lt;mod/&gt;" id="type-&lt;name/&gt;" name="&lt;mod/&gt;.&lt;name/&gt;"/></stog:reftyp>
<stog:showttl graph=""><ocaml-eval show-stdout="true" show-code="false" defer_="1">
print_string(Rdf.Ttl.to_string <graph/>);;flush stdout;;</ocaml-eval>
</stog:showttl>
<stog:ml foo=""><icode lang="ocaml" defer_="1"><contents/></icode></stog:ml>
<contents>
<p>
OCaml-RDF is an <ext-a href="http://www.ocaml.org/">OCaml</ext-a> library to manipulate
<ext-a href="http://www.w3.org/TR/rdf-concepts/">RDF</ext-a> graphs and execute
<ext-a href="http://www.w3.org/TR/sparql11-query">Sparql</ext-a> queries.
</p>

<section title="Implemented features">
<ul>
<li>Three storages available: in memory, in a MySQL or in a Postgresql database,</li>
<li>Ability to define your own storages,</li>
<li>Transactions,</li>
<li>Importing from and exporting to
<ext-a href="http://www.w3.org/TR/rdf-syntax-grammar">RDF/XML</ext-a>,
<ext-a href="http://www.w3.org/TeamSubmission/turtle/">Turtle</ext-a>
and <ext-a href="https://www.w3.org/TR/n-quads/">N-quads</ext-a> formats,</li>
<li>Executing <ext-a href="http://www.w3.org/TR/sparql11-query">Sparql 1.1 queries</ext-a>,</li>
<li><ext-a href="http://www.w3.org/TR/rdf-sparql-protocol/#query-bindings-http">HTTP binding of the Sparql protocol</ext-a>, using <ext-a href="http://ocsigen.org/lwt/">Lwt</ext-a>,</li>
<li>Part of <ext-a href="https://www.w3.org/TR/json-ld11-api/">JSON-LD 1.1 API</ext-a>.</li>
</ul>
</section>

<section title="Development">
<p>
The code is hosted on <ext-a href="https://framagit.org/zoggy/ocaml-rdf">Framagit</ext-a>.
The development started in late november 2011.
</p>
<p>
OCaml-RDF is distributed under the
<ext-a href="http://www.gnu.org/licenses/lgpl.html">GNU LGPL version 3</ext-a>.
</p>
</section>

<section id="author" title="Author">
Maxence Guesdon <icode>&lt;maxence 'DOT' guesdon 'AT' inria 'DOT' fr&gt;</icode>
</section>
</contents>
</page>




