a:visited {color : #217B66; text-decoration : none; }
a:link {color : #217B66; text-decoration : none;}
a:hover {color : Red; text-decoration : none; background-color: #217B66; color: white;}
a:active {color : Red; text-decoration : underline; }
.keyword { font-weight : bold ; color : Red ; font-size: 10pt;}
.keywordsign { color : /*#C04600*/#444444 ; font-size: 10pt;}
.superscript { font-size : 6pt }
.subscript { font-size : 6pt }
.comment { color : Green ; font-size: 10pt;}
.constructor { color : Blue ; font-size: 10pt;}
.type { color : #884488 /*#5C6585*/; ; font-size: 10pt;}
.string { color : Maroon ; font-size: 10pt;}
.warning { color : Red ; font-weight : bold }
.info {
  font-size: 11pt;
  margin-left : 1.5em;
  margin-right : 1.5em ;
  margin-top: 0.3em;
  padding-bottom: 0.3em;
}
.param_info {
  font-size: 11pt;
  margin-top: 4px;
  margin-left : 1.5em;
  margin-right : 1.5em ;
  }
.code { color : #465F91 ; font-size: 10pt; font-family: sans-serif; }

h1 { font-size : 18pt ; text-align: center; }
h2 { font-size : 13pt ;
/*
     border-width: 0 0 1px 0;
     border-style: dashed ;
     border-color: #444444 ;
*/
     color: #444444 ;
     margin-top: 1em;
     margin-bottom: 2px;
     padding: 2px;
     }
h3 { font-size : 12pt ;
     /*border: 1px solid #000000; */
     margin-top: 1em;
     margin-bottom: 2px;
     padding: 2px;
     }
h4 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90EDFF ;padding: 2px; }
h5 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90FDFF ;padding: 2px; }
h6 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #C0FFFF ; padding: 2px; }
div.h7 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #E0FFFF ; padding: 2px; }
div.h8 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #F0FFFF ; padding: 2px; }
div.h9 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #FFFFFF ; padding: 2px; }
.typetable { border-style : hidden }
.indextable { border-style : hidden }
.paramstable { border-style : hidden ; padding: 5pt 5pt}
body {
  background-color : white ;
  margin-left: auto ;
  margin-right: auto;
  width: 750px;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 0;
  border-style: solid ;
  border-color: #444444;
  border-width: 0.1px 2px 2px 2px;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  color: #444444 ;
  font: normal normal 12pt serif /*Arial, Tahoma, Helvetica, FreeSans, sans-serif;*/;

  }

html { background-color: #EFEFEF ; }
tr { background-color : White }
td.typefieldcomment { background-color : #FFFFFF ; font-size: smaller ;}
pre {
  font-size: 10pt;
   margin-bottom: 0px ;
   /*background-color: #F2F2F2;*/
   padding-top: 0.1em;
   }
div.sig_block {margin-left: 2em}
*:target { background: yellow; }

div.navbar {
  background-color: #444444 ; color: white ;
  margin-left: -2em;
  margin-right: -2em;
  margin-top: -0.5em;
  }
div.navbar a { color: white; }

div#commits {
  margin-left: -2em;
}

ul.RVHFEED {
}
ul.RVHFEED_class li {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0.8em;
}

ul.RVHFEED_class sub {
  float: left ;
  font-weight: bold;
  padding-right: 0.5em;
}

ul.RVHFEED_class a {

}

ul.RVHFEED_class li div {
  margin-left: 2.5em;
  font-style: italic ;
}

p.tiny { color: #ACACAC ; text-align: right ; font-size: 50%; }
